:root {
  --primary: #22b455;
  --bg: #f7f5f0;
  --dark: #121212;
  --gray: #555;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--dark);
}

/* header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.iconeBDI {
  width: 80px;
  transition: transform 0.2s ease;
}

.iconeBDI:hover {
  transform: scale(1.05);
}

.titulo {
  font-weight: 700;
  font-size: 1.3rem;
}

.logout {
  color: var(--dark);
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}
.logout:hover {
  opacity: 0.6;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
  padding: 1rem;
}

.form-ideia {
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.form-header h2 {
  font-weight: 600;
  font-size: 1.3rem;
}

.close-btn {
  text-decoration: none;
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: bold;
  transition: opacity 0.2s;
}
.close-btn:hover {
  opacity: 0.6;
}

/* Campos do formulário */
label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.3rem;
  text-align: left;
}

input, textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 1.2rem;
  font-family: "Inter", sans-serif;
  font-size: 0.95rem;
  transition: border-color 0.2s;
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--primary);
}

/* Botão */
.btn-atualizar {
  background-color: #84e69e; /*#b8e9c5*/
  color:white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 0.9rem;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn-atualizar:hover {
  background-color: #68cf82;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

input, textarea, .btn-atualizar {
  box-sizing: border-box;
}

.status {
  border-radius: 6px;
  padding: 0.9rem 1rem;
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid #e1e5e9;
  background-color: #fff;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23666' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1rem;
}

.status:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(0, 255, 0, 0.1);
}

.status:hover {
  border-color: var(--primary);
}