:root {
  --primary: #22b455;
  --bg: #f7f5f0;
  --dark: #121212;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg);
}

/* header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg);
}

.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.iconeBDI {
  width: 80px;
  transition: transform 0.2s ease;
}

.iconeBDI:hover {
  transform: scale(1.05);
}

.logout {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: opacity .2s;
}

.logout:hover {
  opacity: .6;
}

/* CAIXA DO MURAL */
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.mural-box {
  background: #ffffff;
  width: 100%;
  max-width: 1150px;
  margin-top: 2rem;
  border-radius: 14px;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0,0,0,0.06);
}

/* CABEÇALHO */
.mural-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-size: 1.7rem;
  text-decoration: none;
  color: var(--dark);
}

/* BUSCA / PAGINAÇÃO / FILTROS */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: #f3f3f3;
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 12px;
}

.search-wrapper input {
  width: 300px;
  padding: .7rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* PAGINAÇÃO */
.pagination {
  display: flex;
  gap: .4rem;
  justify-content: center;
}

.pagination button {
  background: #eee;
  border: 1px solid #ddd;
  padding: .3rem .6rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: .9rem;
}

.pagination .active {
  background: #d9f3e0;
  border-color: #22b455;
  font-weight: bold;
}

/* FILTROS */
.filters select {
  padding: .6rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* cards das ideias*/
.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  background: #fff;
  padding: 1.8rem;
  border-radius: 12px;
  border: 1px solid #e9e9e9;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin: .5rem 0;
}

.card-desc {
  font-size: .98rem;
  line-height: 1.5rem;
  color: #4b4b4b;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.btn-vermais {
  text-decoration: none;
  font-weight: 600;
  color: #22b455;
}
